CinemaProject/Service References/CinemaCervises/CService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CinemaServiceDLL/CService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CinemaServiceDLL/CService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CinemaServiceDLL/CService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CinemaServiceDLL" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CinemaServiceDLL/CService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICService_ValidateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="ICService_ValidateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="ICService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICService_CreatMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatMovie" />
  </wsdl:message>
  <wsdl:message name="ICService_CreatMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatMovieResponse" />
  </wsdl:message>
  <wsdl:message name="ICService_GetMovies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovies" />
  </wsdl:message>
  <wsdl:message name="ICService_GetMovies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="ICService_GetImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImage" />
  </wsdl:message>
  <wsdl:message name="ICService_GetImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageResponse" />
  </wsdl:message>
  <wsdl:message name="ICService_SetImage_InputMessage">
    <wsdl:part name="parameters" element="tns:SetImage" />
  </wsdl:message>
  <wsdl:message name="ICService_SetImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetImageResponse" />
  </wsdl:message>
  <wsdl:message name="ICService_AddRate_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRate" />
  </wsdl:message>
  <wsdl:message name="ICService_AddRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRateResponse" />
  </wsdl:message>
  <wsdl:message name="ICService_Commenting_InputMessage">
    <wsdl:part name="parameters" element="tns:Commenting" />
  </wsdl:message>
  <wsdl:message name="ICService_Commenting_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommentingResponse" />
  </wsdl:message>
  <wsdl:portType name="ICService">
    <wsdl:operation name="ValidateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICService/ValidateUser" message="tns:ICService_ValidateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICService/ValidateUserResponse" message="tns:ICService_ValidateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICService/CreateUser" message="tns:ICService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICService/CreateUserResponse" message="tns:ICService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/ICService/CreatMovie" message="tns:ICService_CreatMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICService/CreatMovieResponse" message="tns:ICService_CreatMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/ICService/GetMovies" message="tns:ICService_GetMovies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICService/GetMoviesResponse" message="tns:ICService_GetMovies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <wsdl:input wsaw:Action="http://tempuri.org/ICService/GetImage" message="tns:ICService_GetImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICService/GetImageResponse" message="tns:ICService_GetImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetImage">
      <wsdl:input wsaw:Action="http://tempuri.org/ICService/SetImage" message="tns:ICService_SetImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICService/SetImageResponse" message="tns:ICService_SetImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICService/AddRate" message="tns:ICService_AddRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICService/AddRateResponse" message="tns:ICService_AddRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Commenting">
      <wsdl:input wsaw:Action="http://tempuri.org/ICService/Commenting" message="tns:ICService_Commenting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICService/CommentingResponse" message="tns:ICService_Commenting_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICService" type="tns:ICService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://tempuri.org/ICService/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/ICService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatMovie">
      <soap:operation soapAction="http://tempuri.org/ICService/CreatMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovies">
      <soap:operation soapAction="http://tempuri.org/ICService/GetMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <soap:operation soapAction="http://tempuri.org/ICService/GetImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetImage">
      <soap:operation soapAction="http://tempuri.org/ICService/SetImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRate">
      <soap:operation soapAction="http://tempuri.org/ICService/AddRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Commenting">
      <soap:operation soapAction="http://tempuri.org/ICService/Commenting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CService">
    <wsdl:port name="BasicHttpBinding_ICService" binding="tns:BasicHttpBinding_ICService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CinemaServiceDLL/CService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>